@charset "UTF-8";


body {
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
    
}

h1#principal {
    color:  white;
    background-color: #3c805e;
    font-size: 3em;
    text-align: center;

}

h1 {
    color: #1e402f;
    text-decoration: underline #143b28;
    

}

h2 {
    color: #3c805e;
    
}

.basico {
    text-align: left;
    color: rgb(255, 97, 40);
    text-shadow: black 1px 1px 2px;
    

}

.intermediario {
    text-align: center;
    color: rgb(245, 245, 0);
    text-shadow: black 1px 1px 2px;

}

.avancado {
    text-align: right;
    color: rgb(0, 179, 0);
    text-shadow: black 1px 1px 2px;

}