@charset "UTF-8";

/* Config. gerais. */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1,2em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background: black url(imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(255, 255, 255, 0.671);
    width: 77.5vw;
    margin: auto;
    margin-top: 49px;
    border-radius: 7px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2.5px 2.5px 0px rgb(223, 173, 82);
}

img {
    display: block;
    margin: auto;
}

img#phone {display: block;}
img#tablet {display: none;}
img#print {display: none;}
img#pc {display: none;}
img#tv {display: none;}